name: Publish Package

on:
  push:
    tags:
      - 'zss-engine@*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 25
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: npm publish with provenance
        run: pnpm install
      - run: pnpm build
      - run: pnpm test
      - run: npm publish
